In [88]:
import pandas as pd

df=pd.read_csv('../data/2024.csv')
df.columns = ['State/UT', 'District', 'Disease', 'No_of_Cases', 'No_of_Deaths', 'Date_of_Start', 'Current_Status']

In [89]:
df=df[['State/UT', 'District', 'Disease', 'No_of_Cases','Date_of_Start']]

In [90]:
df.head()

,State/UT,District,Disease,No_of_Cases,Date_of_Start
0,Arunachal Pradesh,East Kameng,Measles,11,2024-01-25 00:00:00
1,D&N Haveli And Daman And Diu,Daman,Food Poisoning,24,2024-01-23 00:00:00
2,Gujarat,Gandhinagar,Acute Diarrheal Disease,117,2024-01-23 00:00:00
3,Gujarat,Valsad,Acute Diarrheal Disease,73,2024-01-22 00:00:00
4,Jammu and Kashmir,Badgam,Jaundice,46,2024-01-24 00:00:00

In [91]:
trending_data_model=df[['State/UT', 'District', 'Date_of_Start']]

In [92]:
trending_data_model.head()

                       State/UT     District        Date_of_Start
0             Arunachal Pradesh  East Kameng  2024-01-25 00:00:00
1  D&N Haveli And Daman And Diu        Daman  2024-01-23 00:00:00
2                       Gujarat  Gandhinagar  2024-01-23 00:00:00
3                       Gujarat       Valsad  2024-01-22 00:00:00
4             Jammu and Kashmir       Badgam  2024-01-24 00:00:00

In [93]:
import numpy as np
trending_data_model['user'] = np.random.randint(4, 64, size=len(trending_data_model))
trending_data_model['id'] = range(1, 1 + len(trending_data_model))

/var/folders/30/y95bh8d55nl10w9hr7kt73g00000gn/T/ipykernel_16188/942169231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trending_data_model['user'] = np.random.randint(4, 64, size=len(trending_data_model))

In [94]:
trending_data_model.head()

                       State/UT     District        Date_of_Start  user  id
0             Arunachal Pradesh  East Kameng  2024-01-25 00:00:00    12   1
1  D&N Haveli And Daman And Diu        Daman  2024-01-23 00:00:00    10   2
2                       Gujarat  Gandhinagar  2024-01-23 00:00:00    62   3
3                       Gujarat       Valsad  2024-01-22 00:00:00    45   4
4             Jammu and Kashmir       Badgam  2024-01-24 00:00:00     7   5

In [95]:
trending_data_model = trending_data_model[['id','user', 'State/UT', 'District', 'Date_of_Start']]

In [96]:
trending_data_model.to_csv('models/trending_data.csv',index=None)