In [11]:
import pandas as pd
import numpy as np

In [12]:
data_df=pd.read_csv('../urls.csv')

In [13]:
data_df.head()

,crs_id,crs_title,file_id,file_name,file_url
0,233,I Polynomials,2546,Basics for Level 1 Mathematics,https://shikhyaprod.s3.amazonaws.com/odia/Cour...
1,233,I Polynomials,2547,Multiplication of Polynomials,https://shikhyaprod.s3.amazonaws.com/odia/Cour...

In [14]:
data_df['file_name'] = data_df['file_name'].apply(lambda x: x.replace(' ', '_') if isinstance(x, str) else x)
data_df['crs_title'] = data_df['crs_title'].apply(lambda x: x.replace(' ', '_') if isinstance(x, str) else x)
print(data_df['file_name'])

0    Basics_for_Level_1_Mathematics
1     Multiplication_of_Polynomials
Name: file_name, dtype: object

In [5]:
data_df.sample(n=2)

,crs_id,crs_title,file_id,file_name,file_url
0,231,6A,2506,Counting_(Up_to_5)_1,https://shikhyaprod.s3.amazonaws.com/odia/Cour...
1,231,6A,2507,Counting_(Up_to_5)_2,https://shikhyaprod.s3.amazonaws.com/odia/Cour...

In [15]:
data_df['final_name'] = data_df['crs_id'].astype(str) + '_' + data_df['crs_title'].astype(str) + '_' + data_df['file_id'].astype(str) + '_' + data_df['file_name']

In [16]:
data_df.head()

,crs_id,crs_title,file_id,file_name,file_url,final_name
0,233,I_Polynomials,2546,Basics_for_Level_1_Mathematics,https://shikhyaprod.s3.amazonaws.com/odia/Cour...,233_I_Polynomials_2546_Basics_for_Level_1_Math...
1,233,I_Polynomials,2547,Multiplication_of_Polynomials,https://shikhyaprod.s3.amazonaws.com/odia/Cour...,233_I_Polynomials_2547_Multiplication_of_Polyn...

In [17]:
list_of_urls_to_download = dict(zip(data_df['final_name'], data_df['file_url']))

In [18]:
list_of_urls_to_download

{'233_I_Polynomials_2546_Basics_for_Level_1_Mathematics': 'https://shikhyaprod.s3.amazonaws.com/odia/CourseResource/233/files/2546/2546_OE993JZkqg.pdf',
 '233_I_Polynomials_2547_Multiplication_of_Polynomials': 'https://shikhyaprod.s3.amazonaws.com/odia/CourseResource/233/files/2547/2547_oZtLl7cV9f.pdf'}

In [19]:
import os
import requests

# Folder to save PDFs
save_folder = "downloads"
os.makedirs(save_folder, exist_ok=True)

def download_pdf(url, save_path):
    """Download a PDF file from a given URL and save it."""
    try:
        response = requests.get(url, stream=True)
        response.raise_for_status()  # Raise an error for bad responses (4xx, 5xx)
        
        with open(save_path, "wb") as file:
            for chunk in response.iter_content(chunk_size=8192):
                file.write(chunk)
        
        print(f"Downloaded: {save_path}")
    except requests.exceptions.RequestException as e:
        print(f"Failed to download {url}: {e}")

for final_name, url in list_of_urls_to_download.items():
    save_path = os.path.join(save_folder, final_name + ".pdf")  # Use the key as the filename
    download_pdf(url, save_path)

print("Download process completed.")

Downloaded: downloads/233_I_Polynomials_2546_Basics_for_Level_1_Mathematics.pdf
Downloaded: downloads/233_I_Polynomials_2547_Multiplication_of_Polynomials.pdf
Download process completed.